REDIS_URL=redis://judge0-redis:6379
POSTGRES_HOST=judge0-postgres
POSTGRES_DB=judge0
POSTGRES_USER=judge0
POSTGRES_PASSWORD=your_judge0_db_password
WORKERS_MAX_QUEUE_SIZE=100
ALLOW_ENABLE_WAIT_RESULT=true
ENABLE_WAIT_RESULT=true
