PORT=4000
CLIENT_URL=http://localhost:5173

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5433/codebattle
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# JWT
JWT_SECRET=your_jwt_secret_here

# Judge0
JUDGE0_URL=http://localhost:2358
JUDGE0_POSTGRES_USER=your_judge0_db_user
JUDGE0_POSTGRES_PASSWORD=your_judge0_db_password
JUDGE0_POSTGRES_DB=your_judge0_db_name

